# ═══════════════════════════════════════════════════════════════════════════════
# 🐺 LXR Blindfold - Distribution Control
# wolves.land | The Land of Wolves
# ═══════════════════════════════════════════════════════════════════════════════

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime / Cache
cache/
node_modules/

# Build output
build/
dist/
dist-ssr/

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# OS generated
Thumbs.db
Desktop.ini

# Coverage
coverage/
*.local

# Cypress
/cypress/videos/
/cypress/screenshots/

# UI specific
ui/node_modules
ui/.DS_Store
ui/dist
ui/dist-ssr
ui/coverage
ui/*.local
ui/logs
ui/*.log
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/lerna-debug.log*
ui/.vscode/*
ui/!.vscode/extensions.json
ui/.idea
ui/*.suo
ui/*.ntvs*
ui/*.njsproj
ui/*.sln
ui/*.sw?